{% import "_includes/forms" as forms %}

{% set cols = null %}

{% if field.cols | length %}
    {% set cols = field.cols %}
{% endif %}

{% set size = 0 %}

{% if field.size | length %}
    {% set size = field.size %}
{% endif %}

<div class="sproutforms-table">
    <table style="width:100%">
        <thead>
            <tr>
                {% for col in cols %}
                    <th>{{ col.label }}</th>
                {% endfor %}
            </tr>
        </thead>

        {% if size > 0 %}
            {% for row in 1 .. size %}
                <tr data-id="{{ row }}">
                    {% for col in cols %}
                        <td>

                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

{% do view.registerAssetBundle("mblode\\sproutformstables\\web\\assets\\table\\TableAsset") %}
